server:
  port: 9090
  tomcat:
    accesslog:
      enabled: true

spring:
  application:
    name: sdk-service
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
#    url: jdbc:mysql://101.132.117.168:3306/lost_and_found?useUnicode=true&characterEncoding=utf-8&allowMultiQueries=true&serverTimezone=Asia/Shanghai
#    username: lyn
#    password: lyn@2018222
    url: jdbc:mysql://localhost:3306/lost_and_found?useUnicode=true&characterEncoding=utf-8&allowMultiQueries=true&serverTimezone=Asia/Shanghai
    username: root
    password: 970131
  druid:
    # 初始化大小，最小，最大
    initial-size: 5
    max-active: 10
    min-idle: 5
    # 配置获取连接等待超时的时间
    max-wait: 60000
    # 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒
    time-between-eviction-runs-millis: 60000
    # 配置一个连接在池中最小生存的时间，单位是毫秒
    min-evictable-idle-time-millis: 300000
    validation-query: SELECT 'x'
    test-while-idle: true
    test-on-borrow: false
    test-on-return: false
    pool-prepared-statements: true
    # 打开PSCache，并且指定每个连接上PSCache的大小
    max-pool-prepared-statement-per-connection-size: 20
    # 配置监控统计拦截的filters，去掉后监控界面sql无法统计，'wall'用于防火墙
    filters: stat,wall,slf4j
    filter:
      stat:
        log-slow-sql: true
        slow-sql-millis: 2000
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true

mybatis:
  type-aliases-package: com.lyn.**.domain
  config-location: classpath:mybatis/mybatis-config.xml
  mapper-locations: classpath*:mybatis/mapper/*.xml


wx:
  miniapp:
    configs:
       - appid: wx14635c72c8cf5af2
         secret: cea26a4f7fb59f833cb2423bb9808c44
#       - appid: wxde91dff1d5907885
#         secret: f6b1791caa185f875e897eb331ab4d79
         token:
         aesKey:
         msgDataFormat: JSON

logging:
  config: classpath:log/log4j2-${app.env}.xml

corpus:
  path: E:\lyn\毕设\语料库

tfidf:
  keywordsNum: 10


fnlp:
  #分词模型所在目录
  modelsDir: E:\java\project\lost_and_found\src\main\resources\models