<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lyn.lost_and_found.domain.LfClaimRecordMapper">

    <sql id="ColumnList">
      cr.id,
      cr.goods_id,
      g.name,
      u.nick_name as nick_name,
      DATE_FORMAT(g.release_time,'%y-%m-%d %h:%m:%s') as release_time,
      cr.claim_status,
      g.money
    </sql>

    <sql id="WhereClause">
        <where>
            <if test="(claimRecordType != null or claimRecordType != '') and (currentUserId != null and currentUserId != '')">
                <choose>
                    <when test='claimRecordType == 0'>
                        and cr.claim_user_id=#{currentUserId}
                    </when>
                    <when test='claimRecordType == 1'>
                        and cr.release_user_id=#{currentUserId}
                    </when>
                </choose>
            </if>

            <if test="recordType != null and recordType != ''">
                and cr.record_type=#{recordType}
            </if>
        </where>
    </sql>
    <sql id="OrderClause">
        <if test="orderBy != null and orderBy != ''">
            order by ${orderBy}
        </if>
        <if test="orderBy == null or orderBy == ''">
            order by cr.create_time DESC
        </if>
    </sql>

    <select id="selectList" resultType="map" parameterType="map">
        select
        <include refid="ColumnList"/>
        FROM
        lf_claim_record cr
        JOIN lf_goods g ON cr.goods_id = g.id
        JOIN lf_user u ON cr.release_user_id = u.id
        <!--
        <if test="claimRecordType == null or claimRecordType == ''">
            <choose>
                <when test='claimRecordType == 1'>
                    JOIN lf_user u ON cr.release_user_id = u.id
                </when>
                <when test='claimRecordType == 0'>
                    JOIN lf_user u ON cr.claim_user_id = u.id
                </when>
            </choose>
        </if>
        -->
        <include refid="WhereClause"/>
        <include refid="OrderClause"/>
    </select>

    <select id="countList" resultType="java.lang.Long" parameterType="map">
        select count(1)
        FROM
        lf_claim_record cr
        JOIN lf_goods g ON cr.goods_id = g.id
        JOIN lf_user u ON cr.release_user_id = u.id
        <!--
        <if test="claimRecordType != null or claimRecordType != ''">
            <choose>
                <when test='claimRecordType == 1'>
                    JOIN lf_user u ON cr.release_user_id = u.id
                </when>
                <when test='claimRecordType == 0'>
                    JOIN lf_user u ON cr.claim_user_id = u.id
                </when>
            </choose>
        </if>
        -->
        <include refid="WhereClause"/>
    </select>

    <sql id="ColumnListClaimer">
        u.id,
        u.nick_name,
        u.mobile
    </sql>

    <sql id="WhereClauseClaimer">
        <where>
            <if test="goodsId != null and goodsId != ''">
                and cr.goods_id=#{goodsId}
            </if>
        </where>
    </sql>
    <sql id="OrderClauseClaimer">
        <if test="orderBy != null and orderBy != ''">
            order by ${orderBy}
        </if>
        <if test="orderBy == null or orderBy == ''">
            order by cr.create_time DESC
        </if>
    </sql>


    <select id="selectListClaimer" resultType="map" parameterType="map">
        select
        <include refid="ColumnListClaimer"/>
        FROM
        lf_claim_record cr
        JOIN lf_user u ON cr.claim_user_id = u.id
        <include refid="WhereClauseClaimer"/>
        <include refid="OrderClauseClaimer"/>
    </select>

    <select id="countListClaimer" resultType="java.lang.Long" parameterType="map">
        select count(1)
        FROM
        lf_claim_record cr
        JOIN lf_user u ON cr.claim_user_id = u.id
        <include refid="WhereClauseClaimer"/>
    </select>

</mapper>